@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700|Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Maven+Pro&display=swap');

.PermanentMarker {
  font-family: 'Permanent Marker', cursive;
}

.Quicksand {
  font-family: 'Quicksand', sans-serif;
}

.MavenPro {
  font-family: 'Maven Pro', sans-serif;
}

.Sacramento {
  font-family: 'Sacramento', cursive;
}

.AmaticSC {
  font-family: 'Amatic SC', cursive;
}

@mixin primary-font {
  @extend .Quicksand;
}

@mixin secondary-font {
  @extend .MavenPro;
}

@mixin section-font {
  @extend .AmaticSC;
}

@mixin title-font {
  @extend .Sacramento;
}

@mixin highlight-font {
  @extend .PermanentMarker;
}
