// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : rgba(196, 123, 255, 0.63);
$secondary : rgba(194, 166, 9, 0.815);
$accent    : rgb(183, 66, 204);
$dark      : rgba(22, 22, 22, 0.85);

$positive  : rgb(95, 189, 117);
$negative  : rgb(194, 100, 111);
$info      : rgb(128, 213, 230);
$warning   : rgb(223, 203, 148);
